<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{img/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{img/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{img/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{img/favicon/site.webmanifest}">
    <link rel="mask-icon" th:href="@{img/favicon/safari-pinned-tab.svg}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/index.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/register.css}"/>
    <title>New Subscription</title>
</head>
<body>
<div class="container" onclick="location.href='/';" style="cursor: pointer;">
    <div class="img-container">
        <img th:src="@{img/header_pic.jpg}" width="150" height="150"/>
    </div>
    <div class="text-container">
        <h1>New Subscription</h1>
    </div>
</div>

<div class="main-form-container">
    <div class="form-container">
        <form action="/tenant-registration" id="register" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="serviceLevel">Service level : </label>
                </div>
                <div class="col-75">
                    <select id="serviceLevel" name="serviceLevel">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row" style="float: right">
                <a href="#" onclick="submitOnclick(); return false;" class="add-new-company-btn" id="submitBtn" type="submit">Create Subscription</a>
            </div>
        </form>
    </div>
</div>

<script language="JavaScript">
    function submitOnclick() {
        const btn = document.getElementById("submitBtn");
        btn.innerText = "Pending...";
        document.getElementById('register').submit();
    }
</script>

</body>
</html>